<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>Admin Dashboard</title>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div class="container">
            <h1 class="text-center display-3" th:text="${current_user.firstName + ' ' + current_user.lastName}"></h1>
        </div>
        &nbsp;
        <a href="/logout" style="vertical-align: top" class="btn btn-outline-danger">Log out</a>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p th:if="${users_list == null or users_list.empty}">No users registered.</p>
                <table th:if="${users_list != null and !users_list.empty}" id="users_table" class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center" scope="col">Username</th>
                        <th style="text-align: center" scope="col">Name</th>
                        <th style="text-align: center" scope="col"></th>
                    </tr>
                    </thead>
                    <th:block th:each="user : ${users_list}">
                        <tr>
                            <td style="text-align: center" th:text="${user.username}"></td>
                            <td style="text-align: center" th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
                            <td style="text-align: center"><a class="btn btn-outline-dark" th:href="'/user/' + ${user.username} + '/roles/edit'">Modify roles</a></td>
                        </tr>
                    </th:block>
                </table>
                <hr/>
                <div style="text-align: center">
                    <h3 th:if="${roles_list != null and !roles_list.empty}">Available roles</h3>
                    <p th:if="${roles_list == null or roles_list.empty}">No roles defined.</p>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <div th:each="role : ${roles_list}">
                        <h5 class="text-center" style="color: #0377fc;" th:text="${role.title}"></h5>
                        <div th:each="right : ${role.getRights()}">
                            <p style="text-align: center; color: #f52516" th:text="${right.rightType}"></p>
                            <p style="text-align: center" th:text="${right.resource == null} ? 'No resources attached.' : ''"></p>
                            <p style="text-align: center" th:text="${right.resource != null} ? ${right.resource.tableName} : ''"></p>
                        </div>
                    </div>
                </div>
                &nbsp;
                <a class="btn btn-outline-danger" href="/role/new">Add new role</a>
            </div>
        </div>
    </div>
</div>
<footer id="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>