<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>Login</title>
</head>
<body>
<div class="login-form">
    <h1 class="text-center display-4">Resource Management</h1>
    &nbsp;
    <form action="/login" method="post">
        <h2 class="text-center" id="login-text">Login</h2>
        <div class="form-group">
            <input name="username" type="text" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <p class="text-center"><a href="/register">Create an Account</a></p>
    </form>
    <div th:if="${login_failed_message != null}" class="alert alert-danger" role="alert" th:text="${login_failed_message}">
    </div>
</div>
</body>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/fontawesome.min.js"></script>
</html>
</html>
