<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>New Role</title>
</head>
<body>
<div class="login-form">
    <form action="/role/new" method="post">
        <div class="form-group">
            <input name="role-name" type="text" class="form-control" placeholder="Role name" required="required">
            <th:block th:each="resource : ${resources_list}">
                &nbsp;
                <p th:text="${resource.tableName}" style="text-align: center" class="form-control"></p>
                <div class="row form-group" style="text-align: center" >
                    <input th:id="${resource.tableName} + '_create'"  type="checkbox" th:name="${resource.tableName} + '_create'" th:value="${resource.tableName} + '_create'">
                    <label th:for="${resource.tableName} + '_create'">Create</label>

                    <input th:id="${resource.tableName} + '_read'" type="checkbox" th:name="${resource.tableName} + '_read'" th:value="${resource.tableName} + '_read'"    >
                    <label th:for="${resource.tableName} + '_read'">Read</label>

                    <input th:id="${resource.tableName} + '_update'" type="checkbox" th:name="${resource.tableName} + '_update'" th:value="${resource.tableName} + '_update'">
                    <label th:for="${resource.tableName} + '_update'">Update</label>

                    <input th:id="${resource.tableName} + '_delete'" type="checkbox" th:name="${resource.tableName} + '_delete'" th:value="${resource.tableName} + '_delete'">
                    <label th:for="${resource.tableName} + '_delete'">Delete</label>
                </div>
            </th:block>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Add new role</button>
        </div>
    </form>
</div>
</body>
</html>