<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawsesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>Read students</title>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        &nbsp;
        <div class="row">
            <div class="col-md-12">
                <p th:if="${students_list == null or students_list.empty}">No students registered.</p>
                <table  style="width: 20rem" th:if="${students_list != null and !students_list.empty}" id="users_table" class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center" scope="col">Name</th>
                        <th style="text-align: center" scope="col">Update</th>
                        <th style="text-align: center" scope="col">Delete</th>
                    </tr>
                    </thead>
                    <th:block th:each="student : ${students_list}">
                        <tr>
                            <td style="text-align: center" th:text="${student.name}"></td>
                            <td style="text-align: center"><a class="btn btn-outline-primary" th:href="'/resources/Students/update/' + ${student.id}">Update</a></td>
                            <td style="text-align: center"><a class="btn btn-outline-danger" th:href="'/resources/Students/delete/' + ${student.id}">Delete</a></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>