<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>Register</title>
</head>
<body>
<div class="login-form">
    <h1 class="text-center display-4">Resource Management</h1>
    &nbsp;
    <form action="/register" method="post">
        <div class="form-group">
            <input name="username" type="text" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input name="first-name" type="text" class="form-control" placeholder="First name" required="required">
        </div>
        <div class="form-group">
            <input name="last-name" type="text" class="form-control" placeholder="Last name" required="required">
        </div>
        <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
    </form>
    <div th:if="${success != null and success == false}" class="alert alert-danger" role="alert" th:text="${message}"></div>
    <div th:if="${success != null and success == true}" class="alert alert-success" role="alert">
        Registration was successful!
    </div>
    <p th:if="${success == true}" class="text-center"><a href="/">Back to home</a></p>
</div>
</body>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/fontawesome.min.js"></script>
</html>