<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>Roles Edit</title>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div class="container">
            <h1 class="text-center display-3" th:text="${current_user.firstName + ' ' + current_user.lastName}"></h1>
        </div>
        <a href="/admin_dashboard" style="vertical-align: top" class="btn btn-outline-success">Back</a>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: center" th:if="${user_roles_list == null or user_roles_list.empty}">This user has no roles added for now.</p>
                <table th:if="${user_roles_list != null and !user_roles_list.empty}" id="user_roles_table" class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center" scope="col">Role Title</th>
                        <th style="text-align: center" scope="col">Remove role</th>
                    </tr>
                    </thead>
                    <th:block th:each="role : ${user_roles_list}">
                        <tr>
                            <td style="text-align: center" th:text="${role.title}"></td>
                            <td style="text-align: center"><a class="btn btn-outline-danger" th:href="'/user/' + ${current_user.username} +  '/roles/' + ${role.title} + '/remove'">Remove</a></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
        <hr/>
        <p style="text-align: center">Available roles.</p>
        <div class="row">
            <div class="col-md-12">
                <p th:if="${roles_list == null or roles_list.empty}">There are no roles defined from now. You can define new roles from the dashboard page.</p>
                <table th:if="${roles_list != null and !roles_list.empty}" class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center" scope="col">Role Title</th>
                        <th style="text-align: center" scope="col">Add role</th>
                    </tr>
                    </thead>
                    <th:block th:each="role : ${roles_list}">
                        <tr>
                            <td style="text-align: center" th:text="${role.title}"></td>
                            <td style="text-align: center"><a class="btn btn-outline-dark" th:href="'/user/' + ${current_user.username} +  '/roles/' + ${role.title} + '/add'">Add</a></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
    <footer id="footer" th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>