<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>User Dashboard</title>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div class="container">
            <h1 class="text-center display-3" th:text="${current_user.firstName + ' ' + current_user.lastName}"></h1>
        </div>
        &nbsp;
        <a href="/logout" style="vertical-align: top" class="btn btn-outline-danger">Log out</a>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p th:if="${resources_list == null or resources_list.empty}">No resources added..</p>
                <table style="width: 70rem" th:if="${resources_list != null and !resources_list.empty}" id="users_table" class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center" scope="col">Table name</th>
                        <th style="text-align: center" scope="col"></th>
                        <th style="text-align: center" scope="col"></th>
                    </tr>
                    </thead>
                    <th:block th:each="resource : ${resources_list}">
                        <tr>
                            <td style="text-align: center" th:text="${resource.tableName}"></td>
                            <td style="text-align: center"><a class="btn btn-outline-success" th:href="'/resources/' + ${resource.tableName} + '/create'">Create</a></td>
                            <td style="text-align: center"><a class="btn btn-outline-warning" th:href="'/resources/' + ${resource.tableName} + '/read'">Read</a></td>
                        </tr>
                    </th:block>
                </table>
                <div style="width: fit-content; margin-left: auto; margin-right: auto" class="alert alert-danger" role="alert" th:if="${error_message != null}" th:text="${error_message}"></div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" th:replace="fragments/footer :: footer"></footer>
</body>
</html>